@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, h1 {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: white;
    display: flex;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5% 30px 10%;
    background-color: #536766;
    position: sticky;
    top: 0;
    width: 100%;
}

body {
    background-image: url("../img/dylan_surf.jpg");
    width: 100%;
    background-size: cover;
    background-position: center bottom;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

.name, a {
    transition: all 0.3s ease 0s;
    margin-right: auto;
}

.name a:hover {
    color: #EDE4D3
}

nav li a:hover {
    color: #EDE4D3
}

@media (max-width: 1100px) {
    body {
        background-image: url("../img/paris.jpg");
    }

    header {
        background-color: #EDE4D3;
    }

    li, a, h1 {
        color: black;
        font-size: 35px;
    }

    .name a:hover {
        color: #A3B1BC;
    }
    
    nav li a:hover {
        color: #A3B1BC;
    }
}

@media (max-width: 950px) {
    li, a, h1 {
        font-size: 30px;
    }
}

@media (max-width: 750px) {
    li, a, h1 {
        font-size: 25px;
    }
}

 @media (max-width: 580px) {
    header {
        display: inline-block;
        text-align: center;
    }
    li, a, nav {
        text-align: center;
        display: inline-block;
    }
    h1 {
        text-align: center;
        display: inline-block;
    }

} 

